.totalBalanceCard{
    font-family: "IBM Plex Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--divider-color);
    margin-top: 20px;
    color: var(--text-muted);
    padding: 20px 20px;
}
.positiveBalance{
    color: var(--ledger-green);
}
.negativeBalance{
    color: var(--brick-rust);
}
.netBalanceHeader{
    font-size: .8rem;
}
.netBalanceRow p{
    font-size:2rem
}
.netBalanceRow{
    padding-bottom: 15px;
    border-bottom: 1px dashed var(--divider-color);
    margin-bottom: 15px;
}
.totalBalanceCard .owedOweRow{
    display: flex;
    flex-direction: row;
    gap: 30px;
}